.headerUl {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.headerLi {
  flex: 1 1 auto;
  text-align: center;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:link {
  text-decoration: none;
}

.Header :hover {
  color: darkgray;
}
.headerUl :hover {
  color: black;
}

.Header {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 3%;
}
