.MainPage {
  text-align: center;
  padding: 0 10%;
}

.mainPageUl {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-bottom: 5%;
  padding-left: 0;
}

.mainPageLi {
  flex: 1 1 auto;
  padding: 20px;
}

.mainProducts {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  overflow: hidden;
}
.mainProductLi {
  flex: 1 1 auto;

  padding: 20px;
}

.productImage {
  overflow: hidden;
}

.instaIconMain {
  padding: 30px;
  color: black;
}
.adminButton {
  padding-right: 5px;
  margin-top: 0;
}
a:link {
  color: black;
}
.adminButton :visited {
  color: black;
}
@media all and (max-width: 800px) {
  .mainProducts {
    flex-direction: column;
  }
}
